<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>coffee.works - Find your coffee!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
    <div id="container">
        <div id="content">
            <ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
        </div>
        <div id="aside">
            <p>Learn more about IBA Group.</p>
            <ul>
                <li>Visit IBA Group official <a
                    href="https://ibagroupit.com/en/">web site</a></li>
                <li>Visit WildFly official <a href="http://www.wildfly.org/">web site</a></li>
                <li><a
                    href="http://localhost:8080/coffee-works/xhtml/coffee/coffee.xhtml">coffee page</a></li>
                <li><a
                    href="http://localhost:8080/coffee-works/xhtml/beans/beans.xhtml">beans page</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>
                This project was generated from a Maven archetype from
                WildFly.<br />
            </p>
        </div>
    </div>
</h:body>
</html>
