<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="../../WEB-INF/templates/default.xhtml">
    <ui:define name="content">
    
        <h1>Welcome to Coffee Works Project!</h1>
   
		   <h:form id="reg">
		        <h2>Add a new Coffee</h2>
		        	<p>Enforces annotation-based constraints defined on the model class.</p>
		    	<h:outputLabel for="name" value="Name:" />
                <h:inputText id="name" value="#{coffeeBean.name}" />
                <h:message for="name" errorClass="invalid" />
               
                <h:outputLabel for="description" value="Description:" />
                <h:inputText id="description" value="#{coffeeBean.description}" />
                <h:message for="description" errorClass="invalid" />
            
                <h:outputLabel for="location" value="Location:" />
                <h:inputText id="location" value="#{coffeeBean.location}" />
                <h:message for="location" errorClass="invalid" />
            
                <h:outputLabel for="stars" value="Stars:" />
                <h:inputText id="stars" value="#{coffeeBean.stars}" />
                <h:message for="stars" errorClass="invalid" />       
            
	            <p>
	                <h:panelGrid columns="2">
	                    <h:commandButton id="addCoffeeButton"
	                        action="#{onAddCoffeeButtonClick.addButton()}"
	                        value="Add Coffee" styleClass="addCoffeeButton" />
	                    <h:messages styleClass="messages"
	                        errorClass="invalid" infoClass="valid"
	                        warnClass="warning" globalOnly="true" />
	                </h:panelGrid>
	            </p> 
	                 
	        </h:form>
   
        <h:dataTable var="_coffee" value="#{retrieveCoffee}"
            rendered="#{not empty retrieveCoffee}"
            styleClass="simpletablestyle">
            <h:column>
                <f:facet name="header">Id</f:facet>
                #{_coffee.id}
            </h:column>
            <h:column>
                <f:facet name="header">Name</f:facet>
                #{_coffee.name}
            </h:column>
            <h:column>
                <f:facet name="header">Bean</f:facet>
                #{_coffee.name}
            </h:column>
            <h:column>
                <f:facet name="header">Location</f:facet>
                #{_coffee.location}
            </h:column>
            <h:column>
                <f:facet name="header">Stars</f:facet>
                #{_coffee.stars}
            </h:column>
            <h:column>
                <f:facet name="header">Description</f:facet>
                #{_coffee.description}
            </h:column>
            <h:column>
                <f:facet name="header">REST URL</f:facet>
                <a
                    href="#{request.contextPath}/rest/coffee/#{_coffee.id}">/rest/coffee/#{_coffee.id}</a>
            </h:column>
            <f:facet name="footer">
            REST URL for all coffees: <a
                    href="#{request.contextPath}/rest/coffee">/rest/coffee</a>
            </f:facet>
        </h:dataTable>
    </ui:define>
</ui:composition>
