<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="../WEB-INF/templates/default.xhtml">
    <ui:define name="content">
    
        <h1>Welcome to Coffee Works Project!</h1>
       
    </ui:define>
</ui:composition>
