<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="../WEB-INF/templates/default.xhtml">
    <ui:define name="content">
    
        <h1>Welcome to Coffee Works Project!</h1>

        <h:form id="reg">
            <h2>Add a new Member</h2>
            <p>Enforces annotation-based constraints defined on the
                model class.</p>
            <h:panelGrid columns="3" columnClasses="titleCell">
                <h:outputLabel for="name" value="Name:" />
                <h:inputText id="name" value="#{newMember.name}" />
                <h:message for="name" errorClass="invalid" />
                
                <h:outputLabel for="description" value="Description:" />
                <h:inputText id="description" value="#{newMember.description}" />
                <h:message for="description" errorClass="invalid" />
                
                <h:outputLabel for="email" value="Email:" />
                <h:inputText id="email" value="#{newMember.email}" />
                <h:message for="email" errorClass="invalid" />
                
                <h:outputLabel for="phoneNumber" value="phoneNumber:" />
                <h:inputText id="phoneNumber" value="#{newMember.phoneNumber}" />
                <h:message for="phoneNumber" errorClass="invalid" />
            </h:panelGrid>
            <p>
                <h:panelGrid columns="2">
                    <h:commandButton id="register"
                        action="#{memberController.register()}"
                        value="Register" styleClass="register" />
                    <h:messages styleClass="messages"
                        errorClass="invalid" infoClass="valid"
                        warnClass="warning" globalOnly="true" />
                </h:panelGrid>
            </p> 
                 
        </h:form>
        <h2>Members</h2>
        <h:panelGroup rendered="#{empty members}">
            <em>No registered members.</em>
        </h:panelGroup>
        <h:dataTable var="_member" value="#{members}"
            rendered="#{not empty members}"
            styleClass="simpletablestyle">
            <h:column>
                <f:facet name="header">Id</f:facet>
                #{_member.id}
            </h:column>
            <h:column>
                <f:facet name="header">Name</f:facet>
                #{_member.name}
            </h:column>
            <h:column>
                <f:facet name="header">Email</f:facet>
                #{_member.email}
            </h:column>
            <h:column>
                <f:facet name="header">phoneNumber</f:facet>
                #{_member.phoneNumber}
            </h:column>
            <h:column>
                <f:facet name="header">Description</f:facet>
                #{_member.description}
            </h:column>
            <h:column>
                <f:facet name="header">REST URL</f:facet>
                <a
                    href="#{request.contextPath}/rest/members/#{_member.id}">/rest/members/#{_member.id}</a>
            </h:column>
            <f:facet name="footer">
            REST URL for all members: <a
                    href="#{request.contextPath}/rest/members">/rest/members</a>
            </f:facet>
        </h:dataTable>
       
    </ui:define>
</ui:composition>
